@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Shafarik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Shafarik&family=Sriracha&display=swap');

:root{
    --fonte1: verdana, geneve, tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;

}
header{
    background-color: black;
    color: white;
    text-align: center;

}
header > h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;


}
header > p{
    padding-bottom: 2em;


}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2.5vw;


}

.normal{
    background-color: white;
    color: black;


}
.imagem{
    background-color: rgba(51, 51, 51);
    color: rgb(255, 255, 255);
    box-shadow: inset 6px 6px 12px 0px black;
    background-size: cover;

}

.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 5px;
    text-shadow: 1px 1px 0px black;

    
    
   
}
#img01{
    background: url('imagens/background001.jpg');
    background-position: right center;
    background-attachment: fixed;


}
#img02{
    background: url('imagens/background002.jpg');
    background-attachment: fixed;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}